
<h2 class="display-6" style="margin-bottom: 3rem; margin-top:2rem">@ViewBag.Msg</h2>
<div class="row" align="center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-info" style="max-width:10rem; margin-left:1rem">На главную</a>
</div>

