@model List<string>

<h2 class="display-6" style="margin-bottom: 3rem; margin-top:2rem">
    Нельзя удалить роль @ViewBag.RoleName, потому что она используется у следующих пользователей:
</h2>

<ul style="font-size:large">
    @foreach(var email in Model)
    {
        <li>@email</li>
    }
</ul>

<div class="row" align="center">
        <a asp-action="GetRoles" class="btn btn-outline-secondary" style="max-width:10rem; margin-top:3rem">Назад</a>
</div>

