@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2 class="display-6" style="margin-bottom: 2rem">Роли</h2>

<p>
    <a asp-action="CreateRole" class="btn btn-outline-info">
        <img src="@Url.Content("~/images/add.png")" style="height:1.5rem; width:1.5rem">
    </a>
</p>

<table class="table">

    @foreach (var item in Model) {
        <tr style="height:4rem">
            <td>@item.Name</td>
            <td style="position:absolute; right:3rem; height:4rem">
                <a asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <img src="@Url.Content("~/images/delete.png")" style="height:1.5rem; width:1.5rem">
                </a>
            </td>
        </tr>
    }
</table>